.shop-btn{

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: red;
  font-size:large;
  cursor: pointer;
  border-radius: 8px;
}



h3{
  font-size: 22px;  
}
h5{
  font-size: 20px;
}
