.shop-btn{

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: red;
  font-size:large;
  cursor: pointer;
  border-radius: 8px;
}



h3{

  font-size: 22px;
  
}