.shop-btn{

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
    background-color: red;
  font-size:larger;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.shop-btn:hover{


  background-color: rgb(180, 16, 16);
}


h3{
  font-size: 22px;  
}
h5{
  font-size: 20px;
}
